<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Full Suite" verbose="1">
    <test name="all-appium-tests">
        <packages>
            <package name="appium.tests.*" />
        </packages>
    </test>
    <test name="all-api-tests">
        <packages>
            <package name="api.*" />
        </packages>
    </test>
</suite>